*{
    margin: 0;
    padding: 0;
}

.section-main{
    background: linear-gradient(to right , rgba(0, 0, 0, 0.534) , rgba(0, 0, 0, 0.452)),url(img/Put\ Your\ Image\ \(1\).png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.section-body1{
    font-size: 36px;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Sans Pro";
    text-align: center;
    margin-top: 140px;
}

.section-body2{
    font-size: 20px;
    line-height: 29px;
    color: #f4f5f9;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 15px;
}

.hr{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.hr1{
    height: 0px;
    width: 150px;
    margin-top: 3px;
}

.circle{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: orangered;
}

.hr2{
    height: 0px;
    width: 150px;
    margin-top: 3px;
}

.svg{
    width: 100%;
    margin-top: 36px;
    position: relative;
    margin-top: 80px;
   
   
}

.pathh{
    border: 2px solid red;
}

.img1{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 100px;
    left: 240px;

}

.img2{
    height: 120px;
    width: 100px;
    position: absolute;
    bottom: 65px;
    left: 400px;
}

.img3{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 140px;
    left: 650px;
}

.img4{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 135px;
    right: 430px;
}

.img5{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 160px;
    right: 230px;
}



