@media screen and (max-width:767px) {

    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .link{
        display: none;
    }
    .logo2{
        display: none;
    }
    .border-side{
        display: none;
    }
    
    .logo1{
        margin-right: 230px;
    }

    .b2{
        display: none;
    }
    .div1-p1{
        text-align: center;
    }
    .p1{
        height: 150px;
        width: 380px;
        text-align: center;
        color: black;
        font-size: 45px;
    }
    .p3-13{
        text-align: center;
        height: 100px;
        width: 80%;
        font-size: 18px;
        margin-left: 40px;
    
       
    }
    .div2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .ph{
        width:80%;
        margin-left: 40px;
        text-align: center;
    }
    .b3{
        width: 80%;
        margin-left: 41px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .nav-icon{
        height: 30px;
        width: 30px;
        margin-top: 10px;
    }
    .img1{
        width: 99%;
        height: 300px;
    }
    .p4{
        text-align: center;
    }
    .slack{
        display: none;
    }
    .logo3{
      height: auto;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    .div3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .h3-13{
        color: rgb(90, 90, 90);
    }
   
    .p53{
        color: gray;
    }

    .border-bottom{
        width: 90%;
        margin: 15px;
        margin-top: 45px;
        border: 3px solid rgb(113, 113, 247);
    }

    .img3-1{
        width: 90%;
        height: 350px;
        margin-left: 10px;
    }
    *{
        overflow-x: hidden;
    }
    .div3-1{
        text-align: center;
    }
    .div4{
        text-align: center;
    }
    .div5{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .div5-1{
        margin-top: 50px;
    }
  
    .div6{
        display: none;
    }
    .div7{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin-top: -20px;
    }
    .div7-1{
        width: 80%;
        text-align: center;
    }
    .btn7{
        width: 95%;
        margin-left: 10px;
    }
    .p5{
        text-align: center;
    }

    .imgdiv7{
        height: 300px;
        width: 90%;
        margin-top: -50px;
    }
    .h1-1{
        text-align: center;
    }
    .p6{
        width: 90%;
        height: 100px;
        text-align: center;
        margin-left: 20px;
    }
    .img8-2{
        display: none;
    }
    .div8-1-1-2{
        display: none;
    }
    .c{
        display: none;
    }
    .div8{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .img8-1{
        height: 50px;
        width: 50px;    
    }
    .div8-1-1{
        margin-top: -50px;
        text-align: center;
        margin-left: 20px;
    }
    .div9{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: 250px;
        width: 100%;
        margin-left: -10px;
        border-radius: none;
    }

    .div9-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .img9-2{
        margin-top: 10px;
    }.footer-main{
        height: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       
       
    }
    /* .p1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: white;
        font-size: 20px;
        text-align: left;
        margin-left: 20px;
        margin-top: -100px;
    } */
    .pf1{
        color: white;
        margin-left: 20px;
    }
   
    .pf3{
        color: white;
        margin-left: 200px;
    }
    .pf4{
        color: white;
        margin-left: 217px;
    }
    .pf5{
        color: white;
        margin-left: 239px;
    }
    .pf6{
        color: white;
        margin-left: 185px;
    }
    .img10{
        margin-left: 20px;
        height: 45px;
        width: 150px;
        margin-top: 10px;
    }
    .img2{
        margin-left: 20px;
        height: 45px;
        width: 150px;
        margin-top: 10px;
    }.one{
        margin-top: -50px;
    }
    .two{
        margin-top: -50px;
    }
    .three{
        margin-top: -50px;
    }
    .four{
        margin-top: -50px;
    }
    .p3{
        display: none;
    }
    .footer{
    display: none;
    }
  
    .hrfooter{
        width: 100%;
    }

    .div11{
        height: 50px;
        width: 100%;
    }
    .div11-1{
        margin-left: -130px;
    }
    .div11-1-1{
        display: none;
    }
    .div11-1-2{
        display: none;
    }
    .div11-1-3{
        display: none;
    }
    .div11-1-4{
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .pf3{
        display: none;
    }
    .pf4{
        display: none;
    }
    .pf5{
        display: none;
    }
    .pf6{
        display: none;
    }
    .nav-icon{
        display: none;
    }
    .border-side1{
        display: none;
    }
    .hide{
        display: none;   
    }
    
}


